<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header">
	</header>
	<div class="content">
		<div class="title_big">
			<h1 class="white_title">Lorem ipsum dolor sit amet,<br> consectetur adipisicing.</h1>
			<div class="cube">
				<img src="Uploads/9.png" alt="ico" class="logo">
				<p class="play">Lorem ipsum..</p>1
			</div>
			<div class="red"></div>
		</div>
	</div>
</body>
</html>